<div class="text-center bottomness photo-album" style="margin-top: 40px;">
    <% if @photos %>
      <% if @photos.respond_to?(:each) %>
          <section class="main">
              <div class="grid clearfix" id="grid" style="visibility: hidden;">
                <% @photos.each do |photo| %>
                    <figure>
                      <%= image_tag photo.photo.url, alt: photo.title %>
                      <figcaption>
                        <%= photo.title %>
                      </figcaption>
                    </figure>
                <% end %>
              </div>
          </section>
          <div class="text-center">
            <%= link_to "Показать все фото", :all, class: "btn btn-info" %>
          </div>
          <%= render partial: 'landing' %>
      <% else %>
          <%= link_to (image_tag @photos.photo.url, height: "550"), :all %>
      <% end %>
    <% end %>
</div>


