<h1>Список фотографий</h1>
<%= form_tag :photo_in_album, class: 'form-inline locale', method: 'get', enforce_utf8: false do %>
    <%= select_tag 'album_id', options_for_select(@albums, params[:album_id]), onchange: 'this.form.submit()', class: 'form-control' %>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()"%>
<% end %>

<p id="notice" class="text-warning"><%= notice %></p>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Превью фото</th>
      <th>Название</th>
      <th>Альбом</th>
      <th>Операции</th>
    </tr>
  </thead>

  <tbody>
      <% if @photos %>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= image_tag photo.photo.url, width: "150" %></td>
            <td><%= photo.title %></td>
            <td><%= photo.album.title %></td>
            <td>
              <%= link_to 'Подробнее', photo, class: "btn btn-info" %>
              <%= link_to 'Редактировать', edit_photo_path(photo), class: "btn btn-warning" %>
              <%= link_to 'Удалить!', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>
<div class="text-center">
    <%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
</div>
<br />
<br />
<%= link_to 'Добавить фото', new_photo_path, class: "btn btn-success bottomness" %>
<br />

<br />