<!DOCTYPE html>
<html>
<head>
  <title>Route66</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
    <div class="col-md-2 sidebar-nav-fixed sidebar" style="">
      <a class="site_title" style="visibility: hidden;" href="/">Фотограф Андрей</a>
      <br />
      <br />
      <ul class="nav nav-stacked">
        <% @albumes.each do |album, address|%>
            <li <% if @page == album %> class="active" <% end %>role="navigation"><%= link_to "#{album}", "/see/#{address}", class: cp("/see/#{address}") %></li>
        <% end %>
      </ul>
      <br />
      <ul class="nav nav-stacked">
        <li role="navigation"><%= link_to "Контакты", contacts_path, class: "small #{cp(contacts_path)}" %></li>
        <li role="navigation"><%= link_to "Обо мне", about_path, class: " small #{cp(about_path)}" %></li>
        <% if user_signed_in? %><li role="navigation"><%= link_to "Фотографии", photos_path, class: "small #{cp(photos_path)}" %></li>
            <li role="navigation"><%= link_to "Альбомы", albums_path, class: "small #{cp(albums_path)}" %>
            <li role="navigation"><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "small" %></li>
        <% end %>
      </ul>
    </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <%= yield %>
    </div>

  </div>
  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-3 text-center bottomness">
      Создано в 2015. От <abbr title="nikitasosnov@yahoo.com">Никиты</abbr> его товарищу <abbr title="window@i.ua | +380502471163">Андрею</abbr> <%= link_to "©", new_user_session_path, class: "hidden_link" %>
    </div>
  </div>

</div>


</body>
</html>
