<!DOCTYPE html>
<html>
<head>
  <title>Route66</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3">
    <div class="col-md-3 sidebar-nav-fixed">
      <a class="site_title" href="/">Androme photosite</a>
      <br />
      <br />
      <ul class="nav nav-stacked">
        <% @albumes.each do |album, id|%>
            <li role="navigation"><%= link_to "#{album}", "/see/#{album}" %></li>
        <% end %>
      </ul>
      <br />
      <ul class="nav nav-stacked">
        <li role="navigation"><%= link_to "Contacts", contacts_path, class: " small" %></li>
        <li role="navigation"><%= link_to "About", about_path, class: " small" %></li>
        <li role="navigation"><%= link_to "Фотографии", photos_path, class: " small" %></li>
        <li role="navigation"><%= link_to "Альбомы", albums_path, class: " small" %></li>
      </ul>
    </div>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>

  </div>

</div>


</body>
</html>
